<div class="profilepic">
	<img src="https://www.gravatar.com/avatar/{{ site.email_md5 }}?s=160" alt="Profile Picture" style="width: 160px;" />
</div>

<h1><a href="/">{{ site.title }}</a></h1>
{% if site.subtitle %}
<h2>{{ site.subtitle }}</h2>
{% endif %}

<nav id="main-nav">
	<ul class="main">
		<li><a href="{{ root_url }}/about/">about</a></li>
		<li><a href="{{ root_url }}/archive/">archives</a></li>
		<li><a href="{{ root_url }}/categories/">categories</a></li>
		<li><a href="https://github.com/bechelani/feedback/issues/new">contact</a></li>
	</ul>
	{% if site.description %}
	<section class="aboutme">
		<p>
			{{ site.description }}
		</p>
	</section>
	{% endif %}
</nav>

<nav id="sub-nav">
	<div class="social">
		{% if site.twitter_user %}
			<a class="twitter" href="https://twitter.com/{{ site.twitter_user }}" title="Twitter">Twitter</a>
		{% endif %}
		{% if site.github_user %}
			<a class="github" href="https://github.com/{{ site.github_user }}" title="GitHub">GitHub</a>
		{% endif %}
		{% if site.linkedin_user %}
			<a class="linkedin" href="http://www.linkedin.com/in/{{ site.linkedin_user }}" title="LinkedIn">LinkedIn</a>
		{% endif %}
    {% if site.subscribe_rss %}
			<a class="rss" href="{{ site.subscribe_rss }}" title="RSS">RSS</a>
		{% endif %}
	</div>
</nav>
